/*body{
  margin: 0;
  padding: 0;
}

.container{
  width: 80%;
  margin: auto;
  padding: 10px;
}
nav li a{
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}*/
nav li{
  display: inline-block;
}
